.header {
    background: var(--c-orange-light-first);
    position: relative;

    &-container {
        max-width: 1920rem;
        padding: 60rem 126rem 20rem 100rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include desktop-for-skillineIs-section {
            padding: 60rem 80rem 20rem 60rem;
        }
        @include desktop-medium {
            padding: 60rem 60rem 15rem 60rem;
        }
        @include desktop-small {
            padding: 50rem 30rem 10rem 30rem;
        }
        @include mobile {
            padding: 20rem 10rem;
            gap: 20rem;
        }
    }

    &__nav, &__menu {
        display: flex;
        gap: 80rem;
        align-items: center;
        @include desktop-medium {
            gap: 50rem;
        }
        @include desktop-small {
            gap: 30rem;
        }
        @include tablet {
            gap:  40rem;
        }
    }

    &__nav {
        @include mobile {
            gap: 20rem;
        }
    }

    &__menu {
        @include tablet {
            position: absolute;
            top: -100%;
        }
    }

    &__link {
        font-weight: 400;
        font-size: 22rem;
        letter-spacing: 0.02em;
        color: var(--c-grey-menu);
    }

    &__burger {
        display: none;
        @include tablet {
            display: block;
        }
    }

    &__buttons {
        display: flex;
        gap: 34rem;
        align-items: center;
        @include desktop-small {
            gap: 20rem;
        }
        @include tablet {
            gap: 40rem;
        }
        @include tablet-small {
            gap: 10rem;
        }
        @include mobile {
            flex-direction: column;
        }
    }

    &__login-button, &__signup-button {
        width: 160rem;
        font-weight: 500;
        font-size: 22rem;
        letter-spacing: 0.02em;
        border-radius: 80rem;
        text-align: center;
        transition: var(--transition);

        &:hover {
            transform: scale(1.05);
        }

        @include tablet-small {
            width: 120rem;
            font-size: 16rem;
        }
    }

    &__login-button {
        padding: 13rem 49rem;
        color: var(--c-grey-login-button);
        background: var(--c-white);
        box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.03);
        @include desktop-small {
            padding-inline: 30rem;
        }
        @include tablet-small {
            padding: 10rem 24rem;
        }
    }

    &__signup-button {
        padding: 13rem 36rem;
        color: var(--c-white);
        background: var(--c-orange-first);
        @include desktop-small {
            padding-inline: 30rem;
        }
        @include tablet-small {
            padding: 10rem 24rem;
        }
    }
}