.header {
    background: var(--c-orange-light-first);
    position: relative;

    &-container {
        padding-top: 60rem;
        padding-bottom: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav, &__menu {
        display: flex;
        gap: 80rem;
        align-items: center;
        @include desktop-medium {
            gap: 50rem;
        }
        @include desktop-small {
            gap: 30rem;
        }
        @include tablet {
            gap:  40rem;
        }
    }

    &__menu {
        @include tablet {
            position: absolute;
            top: -100%;
        }
    }

    &__link {
        font-weight: 400;
        font-size: 22rem;
        letter-spacing: 0.02em;
        color: var(--c-grey-menu);
    }

    &__burger {
        display: none;
        @include tablet {
            display: block;
        }
    }

    &__buttons {
        display: flex;
        gap: 34rem;
        align-items: center;
        @include desktop-small {
            gap: 20rem;
        }
        @include tablet {
            gap: 40rem;
        }
    }

    &__login-button, &__signup-button {
        font-weight: 500;
        font-size: 22rem;
        letter-spacing: 0.02em;
        border-radius: 80rem;
    }

    &__login-button {
        padding: 13rem 49rem;
        color: var(--c-grey-login-button);
        background: var(--c-white);
        box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.03);
        @include desktop-small {
            padding-inline: 30rem;
        }
    }

    &__signup-button {
        padding: 13rem 36rem;
        color: var(--c-white);
        background: var(--c-orange-first);
        @include desktop-small {
            padding-inline: 30rem;
        }
    }
}