html {
	scroll-behavior: smooth;
	font-size: 1px;
}

html,body {
	height: 100%;
}

body {
	font-size: 16rem;
	font-family: var(--font-family);
}

#root {
	height: 100%;
}

.page-wrapper {
	position: relative;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.container {
	max-width: 1920rem;
	padding: 0 126rem 0 100rem;
	border: 2px solid palegreen;
}

.small-container {
	padding: 0 60rem 0 92rem;
	border: 2px solid red;
}

.mi {
	margin-inline: auto;
}

.link {
	color: var(--c-black);
	text-decoration: none;
	cursor: pointer;
}
