 // breakpoints
$desktop-for-skillineIs-section: 1770px;
$desktop-medium: 1400px;
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Nunito Sans", sans-serif;

    --transition: .2s all ease-in-out;

    --c-white: #fff;
    --c-black: #000;
    --c-orange-dark: #f67766;
    --c-orange-first: #f48c06;
    --c-orange-second: #f4b767;
    --c-orange-third: #f3ac50;
    --c-orange-fourth: #fba333;
    --c-orange-light-first: #fff3e4;
    --c-orange-light-second: #f4c467;
    --c-blue-dark-first: #2f327d;
    --c-blue-dark-second: #252641;
    --c-blue-dark-third: #113c49;
    --c-blue-first: #5b72ee;
    --c-blue-light-first: #65daff;
    --c-blue-light-second: #29b9e7;
    --c-blue-light-third: #23bdee;    
    --c-blue-light-fourth: #9fd7ff;
    --c-red-first: #d8587e;

    --c-grey-menu: #252641;

    --c-grey-login-button: #6c6c6c;

    --c-grey-desc-first: #696984;
    --c-grey-desc-second: #464646;
    --c-grey-desc-third: #545567;

    --c-grey-title-first: #595959;

    --c-grey-testimonial: #525596;
    --c-grey-testimonial-text: #5f5f7e;
    --c-grey-testimonial-reviews: #80819a;

    --c-grey-subscribe: #b2b3cf;
    --c-grey-subscribe-email: #83839a;

}

