.features {

    &-container {
        margin-bottom: 158rem;
        @include desktop-small {
            margin-bottom: 120rem;
        }
    }
    
    &__title {
        font-weight: 700;
        font-size: 36rem;
        line-height: 180%;
        text-align: center;
        margin-bottom: 20rem;
    }

    &__desc {
        font-size: 24rem;
        text-align: center;
        margin-bottom: 84rem;
        @include desktop-medium {
            margin-bottom: 70rem;
        }
    }

    &__list {
        padding: 0 62rem 0 88rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        gap: 160rem;
        @include desktop-medium {
            padding-inline: 30rem;
            gap: 100rem;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 90rem;
        @include desktop-for-skillineIs-section {
            gap: 60rem;
        }
        @include desktop-medium {
            gap: 40rem;
        }
        @include desktop-small {
            gap: 20rem;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
        }       

        &-info {
            max-width: 570rem;
        }

        &-title {
            font-weight: 600;
            font-size: 40rem;
            line-height: 160%;
            margin-bottom: 20rem;
            @include desktop-medium {
                font-size: 32rem;
            }
        }

        &-desc {
            font-size: 22rem;
            letter-spacing: 0.02em;
        }

        &-image {
            @include desktop-for-skillineIs-section {
                flex-shrink: 0.5;
            }
            @include desktop-small {
                flex-shrink: 0.7;
            }
        }
    }

    &__button-more {
        margin-inline: auto;
        max-width: 290rem;
        button {
            width: 100%;
            padding: 19rem 38rem;
            border: 1px solid var(--c-orange-first);
            border-radius: 80rem;
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 24rem;
            line-height: 180%;
            letter-spacing: 0.02em;
            color: var(--c-orange-first);
            margin-top: 106rem;
            text-align: center;
            @include desktop-medium {
                margin-top: 70rem;
            }
        }
    }
}