.news {
    &-container {
        margin-bottom: 233rem;
        padding: 0 37rem 0 100rem;
        @include desktop-medium {
            margin-bottom: 150rem;
        }
        @include desktop-medium {
            margin-bottom: 120rem;
        }
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 36rem;
        line-height: 180%;
        text-align: center;
        margin-bottom: 20rem;
    }

    &__desc {
        font-family: var(--second-family);
        font-size: 24rem;
        text-align: center;
        margin-bottom: 100rem;
        @include desktop-small {
            margin-bottom: 60rem;
        }
    }

    &__data {
        display: flex;
        justify-content: space-between;
        gap: 120rem;
        @include desktop-for-skillineIs-section {
            gap: 70rem;
        }
        @include desktop-small {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__main {
        max-width: 640rem;
        @include desktop-small {
            max-width: 100%;
        }
    }

    &__read-more {
        font-size: 20rem;
        letter-spacing: 0.02em;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 50rem;
    }
}