.skilline-is {
    &-container {}

    &__for-whom {
        padding: 0 123rem 0 118rem;
        border: 2px solid black;
        
        &-title {
            font-weight: 600;
            font-size: 44rem;
            line-height: 180%;
            margin-bottom: 20rem;
            text-align: center;
        }
        &-desc {
            max-width: 1100rem;
            font-size: 24rem;
            letter-spacing: 0.02em;
            text-align: center;
            margin-bottom: 80rem;
            margin-inline: auto;
        }
        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 100rem;
            margin-bottom: 160rem;
        }
        &-item {
            border-radius: 20rem;
            width: 600rem;
            position: relative;

            img {
                width: 100%;
                border-radius: 20rem;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 5rem;
                background: rgba(7, 8, 23, 0.45);
                opacity: 0.6;
                border-radius: 20rem;
            }
            
            .item-title {
                font-weight: 600;
                font-size: 32rem;
                text-align: center;
                color: var(--c-white);
                position: absolute;
                top: 123rem;
                left: 20%;
                right: 20%;
            }
            .item-button {
                position: absolute;
                top: 197rem;
                left: 26%;
                right: 26%;
                max-width: 50%;
                font-weight: 500;
                font-size: 22rem;
                text-align: center;
                color: var(--c-white);
                border-radius: 80rem;
                &-transparent {
                    background: transparent;
                    border: 1px solid var(--c-white);
                    padding: 24rem 38rem;
                }
                &-blue {
                    background: rgba(35, 189, 238, 0.9);
                    padding: 24rem 41rem;
                }
            }
        }
    }

    &__video {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 67rem;
        margin-bottom: 160rem;
        padding: 20rem;
        position: relative;
        border: 2px solid black;
        
        &-info {
            flex: 50%;
            position: relative;
            z-index: 1;
            .circle-yellow-big {
                position: absolute;
                top: -4%;
                left: -3.5%;
                width: 73rem;
                height: 73rem;
                background: var(--c-orange-second);
                border-radius: 100%;
                z-index: 1;
            }
            .circle-yellow-small {
                position: absolute;
                top: 55%;
                right: -1%;
                width: 30rem;
                height: 30rem;
                background: var(--c-orange-second);
                border-radius: 100%;
                z-index: 1;
            }
        }
        &-title {
            font-weight: 500;
            font-size: 36rem;
            line-height: 160%;
            margin-bottom: 30rem;
            position: relative;
            z-index: 2;
        }
        &-desc {
            font-size: 24rem;
            letter-spacing: 0.02em;
            margin-bottom: 30rem;
            position: relative;
            z-index: 2;
        }

        &-more {
            font-weight: 400;
            font-size: 22rem;
            line-height: 180%;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: var(--c-grey-desc-first);
        }

        &-box {
            position: relative;
            border-radius: 20rem;
            flex: 50%;
            z-index: 2;
            img {
                width: 100%;
                z-index: 2;
                position: relative;
                border-radius: 20rem;
            }

            .square-blue {
                position: absolute;
                top: -3.5%;
                left: -3%;
                border-radius: 20rem;
                width: 138rem;
                height: 138rem;
                background: var(--c-blue-light-third);
                z-index: 1;
            }
            .square-yellow {
                position: absolute;
                bottom: -3%;
                right: -3%;
                border-radius: 20rem;
                width: 231rem;
                height: 231rem;
                background: var(--c-orange-third);
                z-index: 1;
            }
        }
    }

    &__watch-button {
        position: absolute;
        top: calc(50% - 40rem);
        left: calc(50% - 40rem);
        cursor: pointer;
    }
}