.skilline-is {
    &-container {
        padding: 0 60rem 0 86rem;
        @include tablet-small {
            padding: 0 30rem;
        }
        @include mobile {
            padding: 0 10rem;
        }
    }

    &__for-whom {
        padding: 0 123rem 0 118rem;
        @include desktop-for-skillineIs-section {
            padding-inline: 80rem;
        }
        @include desktop-medium {
            padding-inline: 60rem;
        }
        @include tablet-small {
            padding-inline: 30rem;
        }
        @include mobile {
            padding-inline: 10rem;
        }
        
        
        &-title {
            font-weight: 600;
            font-size: 44rem;
            line-height: 180%;
            margin-bottom: 20rem;
            text-align: center;
            @include mobile {
                font-weight: 500;
                font-size: 30rem;
                line-height: 120%;
                width: 100%;
            }
        }
        &-desc {
            max-width: 1100rem;
            font-size: 24rem;
            letter-spacing: 0.02em;
            text-align: center;
            margin-bottom: 80rem;
            margin-inline: auto;
            @include desktop-medium {
                margin-bottom: 60rem;
            }
            @include mobile {
                margin-bottom: 30rem;
                font-size: 20rem;
                line-height: 140%;
            }
        }
        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 100rem;
            margin-bottom: 160rem;
            @include desktop-for-skillineIs-section {
                gap: 60rem;
            }
            @include desktop-small {
                margin-bottom: 120rem;
                flex-direction: column;
            }
            @include mobile {
                margin-bottom: 60rem;
                gap: 30rem;
            }
        }
        &-item {
            border-radius: 20rem;
            max-width: 600rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .item-image {
                border-radius: 20rem;
                display: flex;
                img {
                    width: 100%;
                    border-radius: 20rem;
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(7, 8, 23, 0.45);
                opacity: 0.6;
                border-radius: 20rem;
            }
            
            .item-title {
                font-weight: 600;
                font-size: 32rem;
                text-align: center;
                color: var(--c-white);
                position: absolute;
                top: 132rem;
                left: 20rem;
                right: 20rem;
                @include desktop-medium {
                    top: 40%;
                }
                @include mobile {
                    font-weight: 500;
                    font-size: 20rem;
                    top: calc(50% - 10rem);
                }
            }
            .item-button {
                position: absolute;
                top: 197rem;
                left: 50%;
                transform: translateX(-50%);
                max-width: 283rem;
                font-weight: 500;
                font-size: 22rem;
                text-align: center;
                color: var(--c-white);
                border-radius: 80rem;
                @include desktop-for-skillineIs-section {
                    font-weight: 400;
                    font-size: 20rem;
                }
                @include desktop-medium {
                    top: 60%;
                }
                @include mobile {
                    max-width: initial;
                    width: 80%;
                    font-weight: 400;
                    font-size: 18rem;
                    line-height: 120%;
                    top: 60%;
                }

                &-transparent {
                    background: transparent;
                    border: 1px solid var(--c-white);
                    padding: 24rem 37rem;
                    transition: var(--transition);

                    &:hover {
                        background-color: var(--c-white);
                        color: var(--c-blue-first);
                    }

                    @include desktop-for-skillineIs-section {
                        padding: 10rem 13rem;
                    }
                }
                &-blue {
                    background: rgba(35, 189, 238, 0.9);
                    padding: 24rem 40rem;
                    transition: var(--transition);

                    @include desktop-for-skillineIs-section {
                        padding: 10rem 15rem;
                    }
                }
            }
        }
    }

    &__video {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 67rem;
        margin-bottom: 160rem;
        padding: 20rem;
        position: relative;
        @include desktop-small {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-bottom: 120rem;
        }
        @include tablet-small {
            margin-bottom: 80rem;
        }
        @include mobile {
            margin-bottom: 30rem;
            padding: 0 10rem;
        }
        
        &-info {
            flex: 50%;
            position: relative;
            z-index: 1;
            .circle-yellow-big {
                position: absolute;
                top: -4%;
                left: -3.5%;
                width: 73rem;
                height: 73rem;
                background: var(--c-orange-second);
                border-radius: 100%;
                z-index: 1;
            }
            .circle-yellow-small {
                position: absolute;
                top: 55%;
                right: -1%;
                width: 30rem;
                height: 30rem;
                background: var(--c-orange-second);
                border-radius: 100%;
                z-index: 1;
            }
        }
        &-title {
            font-weight: 500;
            font-size: 36rem;
            line-height: 160%;
            margin-bottom: 30rem;
            position: relative;
            z-index: 2;
            @include mobile {
                font-size: 26rem;
                line-height: 130%;
                margin-bottom: 20rem;
            }
        }
        &-desc {
            font-size: 24rem;
            letter-spacing: 0.02em;
            margin-bottom: 30rem;
            position: relative;
            z-index: 2;
            @include mobile {
                font-size: 18rem;
                line-height: 140%;
                margin-bottom: 15rem;
            }
        }

        &-more {
            font-weight: 400;
            font-size: 22rem;
            line-height: 180%;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: var(--c-grey-desc-first);
            transition: var(--transition);

            @include mobile {
                font-size: 18rem;
                line-height: 140%;
            }

            &:hover {
                color: var(--c-blue-first);
            }
        }

        &-box {
            position: relative;
            border-radius: 20rem;
            flex: 50%;
            z-index: 2;
            img {
                width: 100%;
                z-index: 2;
                position: relative;
                border-radius: 20rem;
            }

            .square-blue {
                position: absolute;
                top: -3.5%;
                left: -3%;
                border-radius: 20rem;
                width: 138rem;
                height: 138rem;
                background: var(--c-blue-light-third);
                z-index: 1;
            }
            .square-yellow {
                position: absolute;
                bottom: -3%;
                right: -3%;
                border-radius: 20rem;
                width: 231rem;
                height: 231rem;
                background: var(--c-orange-third);
                z-index: 1;
            }
        }
    }

    &__watch-button {
        display: flex;
        position: absolute;
        top: calc(50% - 40rem);
        left: calc(50% - 40rem);
        cursor: pointer;
        z-index: 2;
        @include mobile {
            top: calc(50% - 22rem);
            left: calc(50% - 22rem);
        }
    }
}