.testimonial {
    &-container {
        position: relative;
        margin-bottom: 90rem;
        padding: 0 15rem 0 100rem;
        display: flex;
        justify-content: space-between;
        gap: 30rem;

        @include desktop-small {
            flex-direction: column;
            justify-content: center;
            padding: 0 10rem;
        }
        @include tablet-small {
            margin-bottom: 50rem;
        }
        @include mobile {
            padding: 0;
            margin-bottom: 0;
        }
    }

    &__info {
        max-width: 565rem;
        @include desktop-for-skillineIs-section {
            flex: 0 0 40%;
        }
        @include desktop-small {
            text-align: center;
            max-width: 100%;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 30rem;
        margin-bottom: 32rem;
    }

    &__label-text {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 20rem;
        letter-spacing: 0.2em;
        color: var(--c-grey-testimonial);
        @include mobile {
            font-size: 16rem;
        }
    }

    &__label-line {
        display: block;
        width: 80rem;
        height: 1rem;
        border: 1px solid var(--c-grey-testimonial);
        @include mobile {
            width: 50rem;
        }
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 60rem;
        margin-bottom: 29rem;
        @include desktop-small {
            font-size: 44rem;
        }
        @include mobile {
            font-size: 30rem;
            font-weight: 500;
            line-height: 120%;
            margin-bottom: 20rem;
        }
    }

    &__desc {
        font-size: 26rem;
        letter-spacing: 0.02em;
        display: flex;
        flex-direction: column;
        gap: 36rem;
        margin-bottom: 43rem;
        @include desktop-small {
            gap: 10rem;
            font-size: 22rem;
            margin-bottom: 20rem;
        }
        @include mobile {
            font-size: 20rem;
            line-height: 140%;
        }
    }

    &__button {
        max-width: 405rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid var(--c-orange-first);
        border-radius: 80rem;
        padding: 23rem 0 23rem 38rem;
        position: relative;
        cursor: pointer;

        &:hover .testimonial__button-arrow {
            background-color: var(--c-orange-first);
            svg path {
                fill: var(--c-orange-light-first);
            }
        }

        @include desktop-small {
            margin-inline: auto;
            padding: 20rem 0 20rem 30rem;
        }
        @include mobile {
            padding: 10rem 0 10rem 20rem;
        }
    }

    &__button-title {
        font-weight: 400;
        font-size: 22rem;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: var(--c-orange-first);
        @include mobile {
            font-size: 18rem;
            line-height: 140%;
        }
    }
    
    &__button-arrow {
        display: flex;
        border-radius: 100%;
        border: 1px solid var(--c-orange-first);
        padding: 32.5rem 27.5rem;
        position: absolute;
        right: -1rem;
        transition: var(--transition);

        @include desktop-small {
            margin-inline: auto;
            padding: 29.5rem 25.5rem;
        }
        @include mobile {
            margin-inline: auto;
            padding: 14.5rem 10rem;
        }
    }

    &__box {
        position: relative;
        width: 100%;
        overflow: hidden;

        @include desktop-small {
            padding: 0;
            justify-content: center;
        }
    }

    &__item {
        position: relative;
        padding: 0 189rem 121rem 0;
        max-width: 749rem;
        background: var(--c-white);

        @include desktop-for-skillineIs-section {
            padding: 0 150rem 91rem 0;
        }
        @include desktop-medium {

        }
        @include desktop-small {

        }
    }

    &__image {
        display: flex;
        border-radius: 20rem;
        width: 100%;
        height: 700rem;
        padding-inline: 2rem;

        @include desktop-for-skillineIs-section {
          
        }
        @include desktop-small {
        }
        @include mobile {

        }

        img {
            border-radius: 20rem;
            width: 100%;
            height: 100%;
            @include desktop-small {

            }
            @include tablet-small {

            }
            @include mobile {

            }
        }
    }

    &__text-box {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 2rem;
        @include desktop-for-skillineIs-section {

        }
        @include desktop-medium {

        }
        @include desktop-small {

        }
        @include mobile {

        }
    }

    &__right-arrow {
        position: absolute;
        width: 80rem;
        height: 80rem;
        background: var(--c-white);
        border-radius: 100%;
        box-shadow: 0 4px 60px 0 rgba(41, 44, 124, 0.15);
        right: 210rem;
        top: 35%;
        font-size: 24rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 2;
        @include desktop-for-skillineIs-section {

        }
        @include desktop-medium {

        }
        @include desktop-small {
        }
        @include tablet-small {

        }
        @include mobile {

        }
    }
}

.swiper-slide {
    width: 100% !important; 
    box-sizing: border-box; 
    margin: 0 !important;
    padding: 0 !important;
  }





