.testimonial {
    &-container {
        position: relative;
        margin-bottom: 90rem;
        padding: 0 15rem 0 100rem;
        display: flex;
        justify-content: space-between;
        gap: 30rem;
        @include desktop-for-skillineIs-section {
            gap: 20rem;
        }
        @include desktop-small {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__info {
        max-width: 565rem;
        @include desktop-small {
            text-align: center;
            max-width: 100%;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 30rem;
        margin-bottom: 32rem;
    }

    &__label-text {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 20rem;
        letter-spacing: 0.2em;
        color: var(--c-grey-testimonial);
    }

    &__label-line {
        display: block;
        width: 80rem;
        height: 1rem;
        border: 1px solid var(--c-grey-testimonial);
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 60rem;
        margin-bottom: 29rem;
        @include desktop-small {
            font-size: 44rem;
        }
    }

    &__desc {
        font-size: 26rem;
        letter-spacing: 0.02em;
        display: flex;
        flex-direction: column;
        gap: 36rem;
        margin-bottom: 43rem;
        @include desktop-small {
            gap: 20rem;
            font-size: 22rem;
        }
    }

    &__button {
        max-width: 405rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid var(--c-orange-first);
        border-radius: 80rem;
        padding: 23rem 0 23rem 38rem;
        position: relative;
        @include desktop-small {
            margin-inline: auto;
            padding: 20rem 0 20rem 30rem;
        }
    }

    &__button-title {
        font-weight: 400;
        font-size: 22rem;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: var(--c-orange-first);
    }
    
    &__button-arrow {
        display: flex;
        border-radius: 100%;
        border: 1px solid var(--c-orange-first);
        padding: 32.5rem 27.5rem;
        position: absolute;
        right: -1rem;
        @include desktop-small {
            margin-inline: auto;
            padding: 29.5rem 25.5rem;
        }
    }

    &__box {
        //display: flex;
        position: relative;

        @include desktop-for-skillineIs-section {
            padding-right: 130rem;
        }
        @include desktop-small {
            padding: 0;
            justify-content: center;
        }
        
    }

    &__item {
        position: relative;
        padding: 0 189rem 121rem 0;
        max-width: 749rem;
        background: var(--c-white);
    }

    &__image {
        display: flex;
        border-radius: 20rem;
        width: 100%;
        height: 700rem;
        padding-inline: 2rem;
        img {
            border-radius: 20rem;
            width: 100%;
            height: 100%;
            @include desktop-small {
                width: 80%;
            }
        }
    }

    &__text-box {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 2rem;
    }

    &__right-arrow {
        position: absolute;
        width: 80rem;
        height: 80rem;
        background: var(--c-white);
        border-radius: 100%;
        box-shadow: 0 4px 60px 0 rgba(41, 44, 124, 0.15);
        right: 210rem;
        top: 35%;
        font-size: 24rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

// Slick-carousel

.slick-slider {
    width: 809rem;
    height: 100%;
}

.slick-list {
    width: 100%;
}

.slick-track {
    height: 881rem;
}

.slick-slide {
    width: 100%;
    div {
        width: 100%;
    }
}











