.icon-user {
    position: relative;
    display: flex;

    @include mobile {
        width: 40rem;
    }

    svg {
        position: absolute;
        bottom: -5rem;
        right: 0;
        @include mobile {
            width: 12rem;
        }
    }
}