.logo-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 156rem;
    padding: 4rem;
    cursor: pointer;

    svg {
        position: absolute;
        left: 1rem;
    }

    .logo-name, .logo-name-white {
        font-weight: 700;
        font-size: 32rem;
        letter-spacing: 0.04em;  
        z-index: 1;
    }

    .logo-name {
        color: var(--c-blue-dark-third);
    }

    .logo-name-white {
        color: var(--c-white);
    }
}