.logo-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 150rem;

    svg {
        position: absolute;
        left: 1rem;
    }

    .logo-name {
        font-weight: 700;
        font-size: 32rem;
        letter-spacing: 0.04em;
        color: var(--c-blue-dark-third);
        z-index: 1;
    }
}