.news-list-item {
    display: flex;
    gap: 40rem;
    @include desktop-for-skillineIs-section {
        gap: 30rem;
    }
    @include desktop-small {
        gap: 20rem;
    }
    @include tablet-small {
        flex-direction: column;    
    }
    @include mobile {
        gap: 10rem;
    }

    &__image {
        position: relative;
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 20rem;
        @include desktop-for-skillineIs-section {
            flex: 0 0.3 calc(40% - 15rem);
            align-self: flex-start;
        }
        img {
            width: 100%;
            border-radius: 20rem;
        }
    }

    &__category {
        position: absolute;
        right: 20rem;
        bottom: 20rem;
        padding: 4rem 12rem;
        font-weight: 400;
        font-size: 18rem;
        letter-spacing: 0.02em;
        color: var(--c-grey-menu);
        background: var(--c-orange-light-second);
        border-radius: 80rem;

        @include mobile {
            font-size: 16rem;
            line-height: 120%;
        }
    }

    &__info {
        flex: calc(60% - 15rem);
    }

    &__title {
        font-weight: 500;
        font-size: 22rem;
        line-height: 180%;
        color: var(--c-grey-menu);
        cursor: pointer;

        @include mobile {
            line-height: 120%;
            margin-bottom: 5rem;
        }

        &:hover {
            color: var(--c-blue-first);
        }
    }

    &__desc {
        font-size: 20rem;
        letter-spacing: 0.02em;
        @include mobile {
            line-height: 120%;
            font-size: 18rem;
        }
    }
}