.main-news-item {
    
    &__image {
        width: 100%;
        border-radius: 20rem;
        margin-bottom: 40rem;
        display: flex;
        justify-content: center;

        @include mobile {
            margin-bottom: 20rem;
        }
        
        img {
            width: 100%;
            border-radius: 20rem;
        }
    }

    &__category {
        display: inline-block;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 20rem;
        line-height: 180%;
        letter-spacing: 0.02em;
        color: var(--c-grey-menu);
        padding: 2rem 36rem;
        border-radius: 80rem;
        background: var(--c-orange-light-second);
        margin-bottom: 20rem;
        @include mobile {
            font-weight: 400;
            font-size: 18rem;
            line-height: 120%;
        }
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 26rem;
        line-height: 180%;
        color: var(--c-grey-menu);
        margin-bottom: 20rem;
        @include mobile {
            font-size: 24rem;
            line-height: 120%;
            margin-bottom: 10rem;
        }
    }

    &__desc {
        font-size: 20rem;
        letter-spacing: 0.02em;
        margin-bottom: 28rem;
        @include mobile {
            font-size: 18rem;
            line-height: 140%;
            margin-bottom: 15rem;
        }
    }
}
