.text-box {
    max-width: 680rem;
    padding: 41rem 42rem 29rem 87rem;
    border-radius: 20rem;
    box-shadow: 2px 4px 60px 0 rgba(41, 44, 124, 0.1);
    background: var(--c-white);
    position: relative;
    @include desktop-for-skillineIs-section {
        padding: 30rem 40rem;
        max-width: 540rem;
    }
    @include desktop-medium {
        max-width: 100%;
    }
    @include tablet-small {
        padding: 10rem 20rem;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 14rem;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 20rem 0 0 20rem;
        box-shadow: 2px 4px 60px 0 rgba(41, 44, 124, 0.1);
        background: var(--c-orange-dark);
    }
    
    .comment-text {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 22rem;
        line-height: 180%;
        letter-spacing: 0.02em;
        color: var(--c-grey-testimonial-text);
        position: relative;
        margin-bottom: 31rem;
        @include desktop-for-skillineIs-section {
            font-size: 18rem;
            margin-bottom: 20rem;
        }
        @include tablet-small {
            font-size: 16rem;
            margin-bottom: 10rem;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 6%;
            left: -32rem;
            width: 1rem;
            height: 88%;
            background: #bdbdd1;
            @include desktop-for-skillineIs-section {
                left: -10rem;
            }
        }
    }

    .comment-data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .comment-name {
            font-family: var(--second-family);
            font-weight: 600;
            font-size: 24rem;
            line-height: 180%;
            color: var(--c-grey-testimonial-text);
            @include desktop-for-skillineIs-section {
                font-size: 20rem;
            }
            @include tablet-small {
                font-size: 16rem;
            }
        }
        .comment-rating {

            .comment-stars {
                display: flex;
                justify-content: flex-end;
                gap: 4rem;
                margin-bottom: 12rem;

                .text-box_icon-star svg {
                    width: 16rem;
                }
            }

            .comment-reviews {
                font-family: var(--second-family);
                font-weight: 600;
                font-size: 18rem;
                line-height: 180%;
                letter-spacing: 0.02em;
                color: var(--c-grey-testimonial-reviews);

                @include tablet-small {
                    font-size: 16rem;
                }
            }
        }
    }
}

